<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rick and Morty</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-white min-h-screen flex flex-col">
    <header class="bg-indigo-500 flex flex-row justify-between items-center h-40 border-b p-20">
        <h1 class="text-2xl font-bold">Rick and Morty</h1>

        <nav>
            <ul class="flex gap-8 text-base">
                <li>
                    <a href="/" class="hover:text-blue-600 font-bold">Inicio</a>
                </li>
                <li>
                    <a href="/favorites" class="hover:text-blue-600 font-bold">Favorites</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="max-w-5xl mx-auto p-6 flex flex-col">
            <!-- Formulario simple para interceder por peticiones GET enviando parámetros de búsqueda textual -->
            <form method="get" class="flex gap-3 justify-between mb-8">
                <input type="text" name="name" placeholder="Search character" class="bg-gray-200  flex-1 border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-gray-400">
                <button type="submit" class="bg-gray-800 text-white px-4 py-2 rounded-lg hover:bg-gray-700 transition">Search</button>
            </form>


            {% if error_message %}
            <p>{{ error_message }}</p>
            {% endif %}
            
            <!-- Aca inicia la grilla de personajes -->
            <ul class="grid grid-cols-4 gap-4 ">
            {% for c in characters %}
                <li class="bg-gray-50 text-blue-500 rounded-xl shadow-md shadow-indigo-500/50 p-4">
                    <strong>{{ c.name }}</strong><br>
                    Status: {{ c.status }}<br>
                    Species: {{ c.species }}<br>
                    Origin: {{ c.origin.name }}<br>
                    <img src="{{ c.image }}" class="w-full h-40 object-cover rounded-lg mb-3"><br>
            
                    <!-- Formulario imperativo y oculto responsable de emitir POST integrales referenciando parámetros del personaje para registrarse de forma exitosa -->
                    <form method="post" action="/save">
                        <input type="hidden" name="api_id" value="{{ c.id }}">
                        <input type="hidden" name="name" value="{{ c.name }}">
                        <input type="hidden" name="image" value="{{ c.image }}">
                        <input type="hidden" name="page" value="{{ page }}">
                        <button type="submit" class="w-full bg-gray-900 text-white py-2 rounded-lg hover:bg-gray-700 transition">Guardar</button>
                    </form>
                </li>
            
            {% endfor %}
            </ul>
            <!-- Lógica condicional: Únicamente renderizar componentes de interactividad de paginación si se listaron bajo una modalidad por defecto sin interacciones de búsqueda ('search' false). -->
            <div class="flex justify-center items-center gap-6 mt-10 text-sm">
                {% if not search %}
                    <!-- Enlace regresivo correspondiente al punto del atributo prev enviado directo de la información provista por la jerarquía en la clave info -->
                    {% if info.prev %}
                        <a href="/?page={{ page - 1 }} " class="px-4 py-2 border border-gray-400 rounded-lg hover:bg-gray-200">Previous</a>
                    {% endif %}
                
                    <!-- Impresión tangible de posición sobre número de la página -->
                    Page {{ page }}
                
                    <!-- Enlace iterativo correspondiente hacia adición posicional originado del atributo 'next' en la misma estructura paramétrica -->
                    {% if info.next %}
                        <a href="/?page={{ page + 1 }}" class="px-4 py-2 border border-gray-400 rounded-lg hover:bg-gray-200">Next</a>
                    {% endif %}
            </div>
            {% endif %}
        </div>
    </main>

</body>
</html>
